* {
  box-sizing: border-box;
}

section {
  margin: 40px auto 30px;
  border-top: 1px solid #dbdbdb;
  padding: 27px 0 24px;
}

.content-flex {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 50px;
  margin-bottom: -20px;
}

.flex1 {
  justify-content: space-between;
}

.flex2 {
  flex: 1 1 auto;
}

.gap {
  gap: 50px;
}

.gap1 {
  gap: 100px;
}

.font-size {
  font-size: 20px;
}

.margin {
  margin: 10px;
}

.margin-bottom {
  margin-bottom: 10px;
}

.inline-block {
  display: inline-block;
}

.map-img {
  width: 500px;
}

.header_1 {
  font-size: 20px;
  color: #1b9cff;
  text-indent: 10px;
  font-weight: bold;
}

.header_2 {
  font-size: 30px;
  color: black;
  font-weight: bold;
}

.header_3 {
  font-size: 15px;
  color: gray;
  font-weight: bold;
}

.header_3_1 {
  font-size: 15px;
  color: gray;
  font-weight: bold;
  display: inline-block;
}

.header_3_1_1 {
  width: 52px;
}
.subbb {
  display: inline-block;
}

li {
  list-style: none; /* 점없애기 */
}

ul {
  padding: 25px 35px;
}

.telEff {
  display: inline-block;
  font-size: 18px;
  color: #4d4646;
  font-weight: lighter;
}

.hoslist {
  font-family: "나눔고딕";
  font-size: 20px;
  margin: 10px;
  margin-bottom: 40px;
  padding: 20px 40px;
  border-radius: 10px;
  border-bottom: 1px solid #dbdbdb;
  box-shadow: 0 0 9px 0 rgba(62, 73, 70, 0.15);
}

.hos_list_top {
  margin-top: 200px;
}

.addFav {
  font-weight: bold;
  padding: 5px;
}

.addFavvv {
  font-size: 0px;
  display: inline-block;
  float: right;
  padding: 0px;
}

.hosDep {
  font-size: 15px;
  color: gray;
  font-weight: bold;
  /*display: inline-block;*/
}

.breakTime {
  /*display: flex;
  justify-content: left;
  align-items: center;
  gap: 50px;
  margin-bottom: -20px;
  text-align:center;
  background-color:aquamarine;
  */
  color: #1b9cff;
  font-weight: bold;
  border: 3px solid;
  padding: 20px;
  width: 300px;
  display: table-cell;
  border-radius: 30px;
  vertical-align: middle;
  margin-left: 250px;
  margin-top: 200px;
}

.breakTime22 {
  margin: inline-block;
}

.breakTime33 {
  font-weight: lighter;
  /*color: black;*/
}

.locaBtn {
  color: white;
  text-decoration: none;
}

.locaBtn:hover {
  color: white;
}
