* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fbfbfd;
}

.Review .Review-container {
  flex: 1 1;
}

.Review-nav-container,
.Review-container,
.Review-footer-container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.Review-container {
  padding: 50px 21px;
}

.Review-ReviewForm {
  padding: 30px 32px 30px 30px;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  filter: drop-shadow(0 0 11px rgba(105, 105, 105, 0.2));
  border-radius: 5px;
}

.Review-ReviewList {
  padding: 30px;
  border-radius: 5px;
}

.Review-ReviewList {
  box-shadow: 0 0 11px 0 rgba(105, 105, 105, 0.2);
  background-color: #fff;
}

.Review-load-more-button {
  width: 100%;
  padding: 25px 0;
  font-size: 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.Review-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 22px 40px 18px;
  overflow: hidden;
  margin: 0 0 30px;
  background-color: rgb(250, 250, 250);
  border-radius: 15px;
  box-shadow: 0 0 9px 0 rgba(62, 73, 70, 0.2);
}

.Review-list-id {
  font-size: 20px;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}

.Review-list-date {
  color: #bdbdbd;
  font-size: 14px;
  letter-spacing: -0.25px;
  margin: 0;
  padding-right: 610px;
}

.Review-list-content {
  color: #545357;
  font-size: 17px;
  line-height: 1.63;
  letter-spacing: -0.2px;
  overflow: hidden;
}

.Review-list-delete-button {
  letter-spacing: -0.28px;
  padding: 6px 12px 4px;
  border-radius: 5px;
  border: solid 1px #e5cdcd;
  font-size: 15px;
  color: #b18181;
  width: 80px;
  justify-content: flex-end;
  margin-left: 750px;
}

.Review-list-rating {
  font-size: 20px;
  margin-bottom: 25px;
}

.Review-Sortbutton {
  margin: 15px 0;
}

.Review-Sort-button {
  background-color: transparent;
  color: gray;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.Review-Sort-button.selected {
  font-weight: bold;
  color: #1b9cff;
}

.Review-top {
  display: flex;
  flex: 1 1;
  justify-content: space-between;
  align-items: center;
}
