.hoslist {
  font-family: "나눔고딕";
  font-size: 20px;
  margin: 10px;
  padding: 10px;
  border-bottom: 1px solid #dbdbdb;
}

.hoslist-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin: 16px;
}

.page-link {
  font-size: 1.25rem;
}

.hoslist-name {
  text-decoration-line: none;
  font-weight: bold;
  color: #4b4040;
  font-size: 23px;
  margin-bottom: 10px;
}

.hoslist-name:hover {
  text-decoration-line: underline;
  color: #4b4040;
}

.hoslist-title {
  font-size: 15px;
  color: #868686;
}

.hoslist-detail {
  font-size: 18px;
  color: #2d2828;
}
.hoslist-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}
.depart {
  display: inline;
}
.depart-check {
  color: #1499ff;
  font-weight: 500;
}

.hoslistitem-rating {
  padding: 6px 8px 5px;
  border-radius: 6px;
  background-color: #eaeef3;
  font-size: 15px;
  font-weight: bold;
  color: #41acff;
}
.pagination {
  padding: 0;
}
