.hoslist {
  font-family: "나눔고딕";
  font-size: 20px;
  margin: 10px;
  padding: 10px;
  border-bottom: 1px solid #dbdbdb;
}

.hos_list_top {
  margin-top: 146px;
}

.addFav {
  font-weight: bold;
  padding: 5px;
}

.addFavvv {
  font-size: 20px;
  display: inline-block;
  float: right;
  padding: 40px;
}

.hoslist-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin: 16px;
}

.page-link {
  font-size: 1.25rem;
}
