.hoslist {
  font-family: "나눔고딕";
  font-size: 20px;
  margin: 10px;
  padding: 10px;
  border-bottom: 1px solid #dbdbdb;
}

.hos_list_top {
  margin-top: 146px;
}

.hoslist-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin: 16px;
}

.page-link {
  font-size: 1.25rem;
}

.hoslist-name {
  text-decoration-line: none;
  font-weight: bold;
  color: #4b4040;
  font-size: 19px;
}

.hoslist-name:hover {
  text-decoration-line: underline;
  color: #4b4040;
}

.hoslist-title {
  font-size: 15px;
  color: #868686;
}

.hoslist-detail {
  font-size: 18px;
  color: #2d2828;
}
.depart {
  display: inline;
}
.depart-check {
  color: blue;
}
