.content .c1,
.c2,
.c3 {
  float: left;
  margin-left: 30px; /* 약간 띄우기 */
  margin-top: 10px;
}

.content {
  background-color: white;
  border: 1px solid #dbdbdb;
  margin-left: 250px;
  margin-top: 120px;
  width: 1053px;
  float: left;
  position: absolute;
  padding: 4px;
  float: left; /* 나란히 정렬*/
}

.content-top {
  background-color: white;

  margin-left: 250px;
  margin-top: 150px;
  width: 1053px;
  float: left;
  position: absolute;
  padding: 4px;
  float: left; /* 나란히 정렬*/
}

.interest-doc {
  font-weight: bold;
  font-family: "나눔고딕";
  font-size: 20px;
  margin-left: 20px;
  margin-top: 20px;
}

.place_img {
  float: left;
  margin-top: 18px;
  margin-left: 25px;
}

.addr {
  font-family: "나눔고딕";
  font-size: 18px;
  margin-top: 18px;
  color: #108ccf;
}

.search_img {
  width: 100px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.no-doc {
  font-weight: bold;
  text-align: center;
  font-family: "나눔고딕";
  font-size: 20px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 0%;
}

.abcd {
  text-align: center;
  font-family: "나눔고딕";
  font-size: 15px;
  margin-left: 20px;
  margin-top: 0px;
  margin-bottom: 5%;
}

.content_a {
  margin-left: 5%;
}

.content_a > div {
  float: left; /* 나란히 정렬*/
}

.content_a > img {
  float: left; /* 나란히 정렬*/
  margin-right: 3%;
}

.name_doc {
  font-weight: bold;
  font-family: "고딕";
  font-size: 25px;
  margin-bottom: 0%;
}

.belong_doc {
  font-family: "고딕";
  font-size: 15px;
  margin-bottom: 0%;
}

.subject_doc {
  font-family: "고딕";
  font-size: 15px;
  margin-bottom: 0%;
}

.table_doc {
  margin-left: 5%;
  margin-bottom: 2%;
}

.content_chart {
  background-color: white;
  border: 1px solid #dbdbdb;
  margin-left: 250px;
  margin-top: 100px;
  width: 1000px;
  height: 275px;
  position: absolute;
  padding: 4px;
}
