* {
  box-sizing: border-box;
}

.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.container {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

.text-center {
  text-align: center !important;
}

.text-white {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}

.m-0 {
  margin: 0 !important;
}

.bg-dark {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

.main-banner {
  background-color: #20b1ff;
  height: 300px;
  position: relative;
  z-index: -1;
  margin-bottom: -40px; /*배너 밑에 선 딱 맞춤*/
  text-align: center; /*배너 이미지 가운데로, div에 설정*/
}

.main-banner11 {
  width: auto;
  height: auto;
  margin-top: 1%;
}
