.p {
  position: absolute;
  margin-left: 250px;
  margin-top: 55px;
  z-index: 0;
  color: white;
  font-weight: bold;
  font-size: 25px;
}

.log-p {
  position: absolute;
  color: #555;
  font-weight: bold;
  font-size: 28px;
  width: 100px;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -170px;
}

.sign-p {
  position: absolute;
  color: #555;
  font-weight: bold;
  font-size: 28px;
  width: 120px;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: -250px;
}

.main {
  background-color: #20b1ff;
  height: 150px;
  position: relative;
  z-index: 1;
}

.info-main {
  background-color: white;
  border: 1px solid #dbdbdb;
  margin-left: 250px;
  margin-top: 100px;
  width: 1053px;
  float: left;
  position: relative;
  padding: 20px;
}

.complete-p {
  position: absolute;
  color: #555;
  font-size: 25px;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -50px;
}

.home-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: 50px;
  border: 1px solid #b7bbbe;
  width: 150px;
}

.login-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: 30px;
  margin-top: 50px;
  background-color: #1b9cff;
  color: white;
  border: 1px solid #b7bbbe;
  font-weight: bold;
  width: 150px;
}

.recent {
  border: 1px solid #dbdbdb;
  position: fixed;
  right: 50%;
  top: 380px;
  margin-right: -750px;
  width: 13%;
  background-color: white;
}

.recent-title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #1b9cff;
  margin-left: 15px;
  font-size: 17px;
}

.recent-hos-div {
  margin-left: 10px;
}

.recent-hos {
  color: #4b4040;
  text-decoration-line: none;
  margin-left: 10px;
  font-size: 17px;
}

.recent-hos:hover {
  color: #1b9cff;
}

.sortbutton-container {
  flex: 1, 1;
  align-items: center;
  justify-content: space-between;
}

.SortButton.selected {
  color: #1b9cff;
  position: relative;
}

.SortButton {
  font-size: 16px;
  color: #2b302f;
  border: none;
  background-color: transparent;
  padding: 10px;
  cursor: pointer;
}

.SortButton:not(:last-child) {
  margin-right: 20px;
}

.SortButton:disabled {
  cursor: default;
}

.search {
  position: relative;
}

.search-input {
  width: 250px;
  background-color: transparent;
  border: 1px solid #dbdbdb;
}
.search-button {
  position: absolute;
  top: -14px;
  right: -10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  align-items: center;
}
