.content1 {
  background-color: white;
  border: 1px solid #dbdbdb;
  margin-left: -5px;
  margin-top: -5px;
  width: 1000px;
  float: left;
  position: absolute;
  padding: 4px;
  float: left; /* 나란히 정렬*/
}

.ChartTable {
  margin-left: 5%;
  margin-bottom: 2%;
}

.link_doc {
  text-decoration-line: none;
  color:#4b4040;
  font-size: 21px;
}

.link_doc:hover {
  text-decoration-line: underline;
  color:#4b4040;
}